/* arriba */

.card {
  background-color: transparent;
}

/* lista */
.list {
  background-color: #3c5aa6 !important;

}

.list h3 {
  text-align: center;
  color: whitesmoke;
}

#txt {
  color: whitesmoke;
  font-size: 200px;

}

#Menu {
  margin: 5px auto;
  padding: 1rem;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: larger;
  align-items: center;
  text-align: center;
}

#Menu label {
  font-weight: bold;
  font-size: large;
  color: whitesmoke;
}

#Menu select,
#Menu button {
  border: solid 1px;
  margin: 0 5px;
  padding: 5px 10px;
  /* Aumenta el tamaño de los select y botones al agregar relleno alrededor del texto */
}

.img {
  width: 300px;
  height: 300px;
  margin: auto;
}

.details {
  text-align: center;
  width: 50%;
  margin: auto;
}

.card-text {
  text-decoration: dotted;
  text-decoration: dotted;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: bold;
}

.card-texts {
  font-size: 24px;
  text-decoration: dotted;
  border-radius: 5px;
}

.btn-group {
  display: flex;

  justify-content: center;
}

@media (max-width: 768px) {
  .img {
    width: 100%;
    height: auto;
  }

  .list {
    background-size: 100% auto;
  }
.card-texts {
font-size: 21px;
}

  #Menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin: auto;
  }

  #Menu label {
    display: none;
  }

  #Menu select {
    width: 100%;

    margin: 2px;
    border: solid 1px;
  }


}