body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3c5aa6 !important;
  }
  .form {
    display: flex;
    border: solid 1px ;
  width: 80%;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    margin-top: 50px;
  }
  .form label {
    font-weight: bold;
    color:whitesmoke;
    margin-top: 10px;
    font-weight: bold;
  }
  .form input[type="text"],
  .form input[type="date"],
  .form select {
    width: 50%;
    
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  .form input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
  }
  @media (min-width: 320px) {
    .form {
      width: 100%;
      box-sizing: border-box;
    }
    .form input[type="text"] {
      width: 60%; /* Ajusta el ancho del input a un valor mayor */
    }
    .form label {
      text-align: left; /* Alinea los labels a la izquierda */
    }
  }
  
  @media (min-width: 728px) {
    .form {
      width: 80%;
      box-sizing: border-box;
      border: solid 0.5px; 
    }
    .form input[type="text"] {
      width: 80%; /* Ajusta el ancho del input a un valor mayor */
    }
    .form label {
      text-align: left; /* Alinea los labels a la izquierda */
    }
  }
  
  
  