<body>
  <form class="form">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="pokemon.name" required><br><br>
    
    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento"   [(ngModel)]="pokemon.birthDate" required><br><br>
    
    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" [(ngModel)]="pokemon.tipo">
      <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
    </select><br><br>
    
    
    <label for="debilidad">Debilidad:</label>
    <select id="debilidad" name="debilidad" [(ngModel)]="pokemon.debilidad">
      <option *ngFor="let deb of debilidad" [value]="deb">{{deb}}</option> <!-- Añade esta línea -->

    </select><br><br>
    
    <input type="submit" value="Enviar">
  </form>
</body>
