body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('../../Images/FotoFondo.jpeg');
  background-repeat: no-repeat;
  background-size: cover;

}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:transparent;
  padding: 20px;
  border-radius: 10px;
  /* Reduce la altura a auto para que el formulario solo sea tan alto como su contenido */
  height: auto;
  /* Agrega un margen superior para crear espacio entre el encabezado y el formulario */
  margin-top: 50px;
}
.form label {
  font-weight: bold;
  margin-top: 5px;
  /* color: ; */
}
.form input[type="text"],
.form input[type="date"],
.form select {
  width: 50%;
  padding: 10px;
}
.form input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
}
@media (max-width: 600px) {
  .form {
    width: 80%;
    box-sizing: border-box;
  }
}

@media (min-width: 601px) {
  .form {
    /* Cambia el ancho a 50% para hacer el formulario más pequeño */
    width: 50%;
    box-sizing: border-box;
  }
}
