<body>
  <form class="form" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" [(ngModel)]="pokemon.name" required><br><br>
    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" [(ngModel)]="pokemon.birthDate" required><br><br>
    <label for="tipo">Tipo:</label>
    <select id="tipo" name="tipo" [(ngModel)]="pokemon.tipo">
      <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
    </select><br><br>
    <label for="debilidad">Debilidad:</label>
    <select id="debilidad" name="debilidad" [(ngModel)]="pokemon.debilidad">
      <option *ngFor="let deb of debilidades" [value]="deb">{{deb}}</option>
    </select><br><br>

    <label for="ownerId">Nombre del propietario:</label>
    <select id="ownerName" name="ownerName"
     [(ngModel)]="ownerName" required>
      <option *ngFor="let owner of owners"
       [value]="owner.firstName">{{owner.firstName}}</option>
    </select>
    <br><br>
    <label for="ownerId">Categoria</label>
    <select id="categoryName" name="categoryName" 
    [(ngModel)]="categoryName" required>
      <option *ngFor="let category of categories" 
      [value]="category.name">{{category.name}}</option>
    </select>
    <br><br>
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" name="imagen" (change)="onFileChange($event)"><br><br>
    <input type="submit" value="Enviar">
  </form>
</body>