body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 113vh;
  margin: 0;
  background-color: #3c5aa6 !important;

}

.form {
  display: flex;
  border: solid 1px;
  width: 50%;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  margin-top: 50px;
}

.form label {
  font-weight: bold;
  color: whitesmoke;
  margin-top: 5px;
}

.form input[type="text"],
.form input[type="date"],
.form select {
  width: 50%;
  padding: 10px;
}

.form input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .form {
    width: 50%;
    box-sizing: border-box;
  }

  .form label {
    text-align: left;
    /* Alinea los labels a la izquierda */
  }

  .form input[type="text"],
  .form input[type="date"],
  .form select {
    width: 80%;
    /* Ajusta el ancho del input a un valor mayor */
  }
}

@media (max-width: 320px) {
  .form {
    width: 80%;
    box-sizing: border-box;
  }

  .form label {
    text-align: left;
    /* Alinea los labels a la izquierda */
  }

  .form input[type="text"],
  .form input[type="date"],
  .form select {
    width: 100%;
    /* Ajusta el ancho del input a un valor mayor */
  }

  .form input[type="file"] {
    width: 100%;
  }


}