<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 owner">
  <div class="columns" *ngFor="let owner of owners">
    <div class="card shadow-sm">
      <img class="img"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4PbsV0TmgeWGxwtn_bTy6BlGCq5Fxf6ZXFB3SaOy1&s"
        alt="Placeholder: Thumbnail">
      <div class="card-body card">
        <p class="card-text">Nombre</p>
        <p class="card-texts">{{owner.firstName}}</p>
        <p class="card-text">Apellido</p>
        <p class="card-texts">{{owner.gym}}</p>
        <article >
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button [routerLink]="['/owner-detail', owner.id]" class="btn btn-warning">Ver detalles</button>
        </article>
      </div>
    </div>
  </div>
</div>