.img {
    margin: 3px;
    padding: 3px;
    width: 490px;
    height: 490px;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 7rem;
    background-color: rgb(182, 152, 152);
    border-radius: 50%;
    /* align-items: center; */

}

.details {
    width: 40%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    background-color:#cccccc ;
    margin-top: 50px;

}

.card-text {
    text-decoration: dotted;
    background-color: rgb(182, 152, 152);
    text-decoration: dotted;
    margin: auto;
    width: 50% !important;
    border-radius: 5px;
    margin-top: 30px;
}

.card-texts {
    text-decoration: dotted;
    border-radius: 5px;
    font-size: larger ;
    padding: 2px;

}