<div *ngIf="pokemon">
    <article class="details">

        <img [src]="pokemon.image" class="img" alt="{{ pokemon.name }}">
        <p class="card-text"> Nombre</p>
        <p class="card-texts"> {{pokemon.name}}</p>
        <p class="card-text"> TIpo</p>
        
        <p class="card-texts">{{pokemon.tipo}}</p>
        <p class="card-text"> debilidad</p>
        
        <p class="card-texts">{{pokemon.debilidad}}</p>
        
        <a routerLink="/all-pokemons" class="btn btn-sm btn-outline-primary">detalle</a>
    </article>
</div>
