.detail {
    background-color: #3c5aa6 !important;

    /* background-image: url('../../Images/FotoFondo.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
}
.img {
    width: 14%;
    height: 40%;
    border-radius: 60px;
}
.card{
    background: tras;
}
.details {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    

}
.card-text {
    text-decoration: dotted;
    text-decoration: dotted;
    margin: auto;
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    margin-top: 30px;
}
#buttons{
    margin-top: 2rem;
    padding: 2rem;
}
.card-texts {
    font-weight: bold;
    font-size: 22px;
    text-decoration: dotted;
    border-radius: 5px;
    font-size: larger ;
    padding: 2px;

}